extends layout

block content
	.container 
		p Your status: #{title}
		- if(user){
			h1 Hello #{user} 
		-}
		.panel.panel-default
			.panel-heading Внесенные изменения
			.panel-body
				ol
					li Разработка шаблонов
					li Перевод логики клиента на angular
	include footer

