extend layout

block content
	.container
		.wrapper
			div.time-wrapp.h1
				span.time-hour#hour 00
				span :
				span.time-min#min 00
				span :
				span#second.time-second 00
			.button-wrap.h2
				#lern.lern-wrap.counter
					.lernCount
						span#l-day.time-day 00
						span :
						span#l-hour.time-hour 00
						span :
						span#l-min.time-min 00
						span "
						span#l-second.time-second 00
						span.button-lern.desc.small  - учеба
			.button-wrap.h2
				#work.lern-wrap.counter
					.lernCount
						span#w-day.time-day 00
						span :
						span#w-hour.time-hour 00
						span :
						span#w-min.time-min 00
						span "
						span#w-second.time-second 00
						span.button-lern.desc.small  - работа
			.button-wrap.h2
				#joy.lern-wrap.counter
					.lernCount
						span#j-day.time-day 00
						span :
						span#j-hour.time-hour 00
						span :
						span#j-min.time-min 00
						span "
						span#j-second.time-second 00
						span.button-lern.desc.small  - прочее
	script(src='js/timer.js')
