.loading{
	position: absolute;
	width: 60px;
	height: 60px;
	left: 60px;
	top: 60px;
}

.loader{
	width: 100%;
}


.loader-1{
	width: 100%;
}

.loading h1 {
	font-size: 48px;
	color: rgb(64, 84, 148);
}


svg path,
svg rect{
  fill: rgb(64, 84, 148);
}