
@media (min-width: 768px) {
	body {
	  padding: 30px;
	  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	  background: green;
	}
}

@media (min-width: 1286px) {
	body {
	  padding: 30px;
	  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	  background: red;
	}
}

/*
body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/
.wapper{
	margin-top: 20px;
}

.counter{
	opacity: 0.5;
	cursor: default;
	font-size: 1.6em;
	transition: 0.3s;
	margin-top: 5px;
	
}

.counters-timer{
	margin-top: 20px;
}
.counter:hover {
	margin-left: 0.2em;
}


.counterActive {
	opacity: 1;
}

.button-wrap .desc{
	margin-left: 0;
	transition: 0.3s;
}

/*.button-wrap:hover * .state-box{*/
	/*border-radius: 100%;*/
/*}*/

.state{
	display: inline-block;
	position: relative;
	height: 20px;
	width: 33.3%;
	padding-bottom: 10px;
	background: rgb(229,229,229);
}

.state-active{

	background: rgb(158, 219, 154);

}

#state-block-lern, .box-lern{
	background: rgb(158, 219, 154);
}

#state-block-sleep, .box-sleep{
	background: rgb(91, 158, 197);
}

#state-block-joy, .box-joy{
	background: rgb(219, 219, 154);
}
	
#state-block-work, .box-work{
	background: rgb(158, 219, 219);
}

#state-block-other, .box-other{
	background: rgb(249, 219, 244);
}


.state-box{
	display: inline-block;
	width: 0.7em;
	height: 0.7em;
	margin-right: 0.5em;
	border-radius: 100%;
}

.state-container{
	padding: 0;
	margin-top: 1em;
	background: rgb(239,239,239);
	transition: 0.4s;
}

.state-wrapper{
	height: 0px;
	/*background: red;*/
	background: rgb(229,229,229);
	transition: 0.4s;

}

.state-block{
	display: inline-block;
	position: relative;
	height: 100%;
	transition: 0.2s;
	/*border: 1px solid rgb(229,229,229);*/
}


.time{
	font-size: 2.5em;
}
/*.state-block:hover {
	transform: scale(1.05, 1.05);
	box-shadow: 0 0 12px 0px rgba(0,0,0,0.6);
	z-index: 100;
	transition: 0.6s;
}*/




