body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.counter{
	opacity: 0.5;
}

.counter * {
	cursor: pointer;
}

.button-wrap .desc{
	margin-left: 0;
	transition: 0.3s;
}

.button-wrap:hover .desc{
	margin-left: 1em;
}