#login{
	/*display: none;*/
	position: absolute;
	width: 1000px;
	height: 700px;
	left: 440px;
	background: white;
	box-shadow: 3px -2px 5px 0 black;
	opacity: 0;
	transition: 0.3s;

}

#login a {
	color: red;
	font-size: 54px;
	text-decoration: none;
}
