<!DOCTYPE html>
<html>
	<head>
		<title></title>

		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>

		<script src="vendor/bower_components/jquery/dist/jquery.js"></script>
		<script src="vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	</head>
	<body>
		<header class='container'>
			<!-- <%-blocks.header%> -->
		</header>
		<section class="container">
			
			<%-partial('../partials/topNavigation')%>

			<h1><%-body -%></h1>
		</section>
		<footer class="container">
			<!-- <%-blocks.footer%> -->
		</footer>
	</body>
</html>